services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: hoangphat
      MYSQL_DATABASE: hairHub
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-p$$MYSQL_ROOT_PASSWORD"]
      interval: 5s
      timeout: 10s
      retries: 5
    networks:
      - auth_network

  server:
    build:
      context: .
      target: final
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/hairHub
      SPRING_DATASOURCE_USERNAME: root 
      SPRING_DATASOURCE_PASSWORD: hoangphat
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - auth_network

networks:
  auth_network:
    driver: bridge