version: '3.8'

services:
  app:
    build: .
    container_name: auth_app
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/hairHub
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: hoangphat
    depends_on:
      - mysql
    networks:
      - auth_network

  mysql:
    image: mysql:8.0
    container_name: auth_mysql
    environment:
      MYSQL_ROOT_PASSWORD: hoangphat
      MYSQL_DATABASE: hairHub
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    networks:
      - auth_network

volumes:
  mysql_data:

networks:
  auth_network:
    driver: bridge
